@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: #0B0F0E;
  color: #E8F5EE;
  height: 100%;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #1F8F5A;
  border-radius: 10px;
}